* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 0;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(144, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  /* font-weight: bold !important; */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: rgb(240, 238, 238);
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
}

.category-btn:hover {
  background-color: rgb(228, 223, 223);
}


@media screen and (max-width: 600px) {
  .search-bar {
    width: 200px;
  }
  .react-player {
    height: 45vh !important;
  }
}